<div class="contacto">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4>PERMÍTANOS SER PARTE DE LA FORMA EN QUE COMUNICA SUS IDEAS AL MUNDO.</h4>				
				<p>SON LOS PEQUEÑOS DETALLES LOS QUE CUENTAN.</p>
			</div>
		</div>
		<div class="row">
		
			<div class="col-md-7 col-xs-7">
				<div class="form">
				<form action="mailto:luisarturoida@gmail.com" method="post" enctype="text/plain" id="contacto">
					<input type="text" name="name" placeholder="Tu Nombre"><br>
					<input type="text" name="mail" placeholder="Email"><br>
					<textarea name="comment" form="contacto" placeholder="Tu Mensaje"></textarea>
					<br><br>
					<input type="submit" value="ENVIAR">
				</form>
				</div>
			</div>
			<div class="col-md-5 col-xs-5">
				<h3>CONTACTO</h3>
				<h3>fernando@mandu.com.mx</h3>
				<h3>+52 55-24-91-42-55</h3>				
			</div>
		</div>
	</div>
</div>


