<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--<%= image_tag('logo-pagina-5.png') %>-->
				<h1><span>IDEALIZA. CREA. MODIFICA.</span></h1>
				<%= link_to 'EXPLORAR', {controller: 'pages', action: 'index', link: :portafolio}, :class => 'explorar'%>
			</div>
		</div>
	</div>
	<ul class="cb-slideshow">
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
	</ul>
</div>

