<div class="nosotros">
	<div class="jumbotron first" style="">
		<div class="container">
			<h2><span>EN MANDU<span class="reg">&reg;</span> CREAMOS Y<BR>DESARROLLAMOS TUS<br>DISEÑOS E IDEAS</span></h2>
		</div>
	</div>
	<div class="container title">
		<h1>MANDU</h1>	
	</div>
	<div class="container cols">		
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<div class="acerca"><h1>ACERCA DE</h1>
				<p>
				mandu es una agencia creativa y apasionada por el diseño con sede en méxico. Fundada en 2012 enfocada a la fotografía, diseño y visualización con el propósito de llegar al foto realismo utilizando el arte 3d con el objetivo de dar vida a una idea.
				</p></div>					
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="acerca"><h1>MISIÓN</h1>
				<p>
				Nuestro objetivo principal es generar diseño e imágenes de alto impacto que te ayuden a comunicar específicamente lo que tienes en mente. Diseñamos tu espacio de acuerdo a tus requerimientos y necesidades. Comunique sus ideas al objetivo correcto.
				</p></div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<%= image_tag('logo-pagina-5.png') %>				
			</div>
		</div>
	</div>
	<div class="jumbotron last" style="">
		<div class="container">
			<h2><span>SIMPLE. ELEGANTE. ÚNICO.</span></h2>
			<%= link_to ({controller: 'pages', action: 'contacto', link: :contacto}) do %>CONTACTO<% end %>
		</div>
	</div>
</div>
